<div class="row" style="padding-top: 30px; ">
  <div
    id="chartContainer"
    style="width: 100%;"
    class="col-12 offset-0 col-md-4 offset-md-1"
  ></div>
</div>
<div class="row" class="offset-md-6 offset-0">
    <h2 style="width: 100%; text-align: center;">Traffic Post #{{pidDisplay}}</h2>
    <br>
    <br>
    <p style=" width:100%;text-align: center;">Current Speed Limit:<br><br>Weather:<br>Visibility:<br>Road Condition:</p>
</div>
<div class="row" style="padding-top: 150px; ">
  <div
    id="chartContainer2"
    style="width: 100%;"
    class="col-12 offset-0 col-md-4 offset-md-1"
  ></div>
</div>
